option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: field-tool/application/AB_0.88.py
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: field-tool/application/AB_0.88.py
    FLASK_ENV: production
    DEBUG: "False"
    ALLOWED_IMAGE_EXTENSIONS: "png,jpg,jpeg"
    MAX_CONTENT_LENGTH: "16777216" 